In [7]:
srt_1="my name is aditya 12345678"
print(srt_1)
print(type(srt_1))

my name is aditya 12345678
<class 'str'>

In [22]:
my_str="aditya pratap singh"
print(my_str)
print(len(my_str))
print(my_str[:10])
print(my_str[-11])
print(my_str[::-1])

aditya pratap singh
19
aditya pra
r
hgnis patarp aytida

In [29]:
emptytuple=()
print(type(emptytuple))
print(emptytuple)
onetuple=(212,)
print(type(onetuple))
print(onetuple)
onetuple1=("212")
print(type(onetuple1))
print(onetuple1)

<class 'tuple'>
()
<class 'tuple'>
(212,)
<class 'str'>
212

In [34]:
typle_1=(912,12.3,"aditya",True)
print(type(typle_1))
print(len(typle_1))

<class 'tuple'>
4

In [15]:
my_str="aditya pratap singh"
print(my_str[-12:-1])

pratap sing

In [45]:
fam=[["liz",               1.73],
    ["emma",1.34]]
print(fam)

[['liz', 1.73], ['emma', 1.34]]